body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #F2F2EB; 
}

header, footer {
    background-color: #0528F2;
}

.site-title {
    color: #F2F2EB;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

ul {
    list-style-type: square;
    
}
ul:nth-child(2){
    background-color: darkcyan;
}


a:link {
    color: #F2F2EB;
    text-decoration: none;
    border-style: solid; 
    background-color: darkcyan;
    
}

a:hover {
    color:#F2F2EB;
    background-color: blue;
    border-style: solid; 
}