body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #F2F2EB; 
}

header, footer {
    background-color: #0528F2;
}

.site-title {
    color: #F2F2EB;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

ul:nth-child(2){
    list-style-type: square;
    background-color: darkcyan;
}