body {
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    margin: 0;
    margin: 0 auto;
    width: 1080px;
}

.tittle{
    z-index: 2;
    color: white;
    position: absolute;
    padding: 200px 0 0 0;
    box-sizing: border-box;
    text-align: center;
}

.banner {
    z-index: -1;
}

nav ul {
    padding: 5px 0;
    list-style-type: none;
    box-sizing: border-box;
}

nav li {
    display: inline-block;
    width: 345px;
    align-content: center;
    border-right: 1px solid black;
    box-sizing: border-box;
}

nav li a {
    padding: 5px;
}

nav li::before {
    content: none;
}

a:link, a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.wrapper {
    width: 1080px;
    margin: 25px auto auto auto;    
}

.facts {
    margin: auto;
}
h2 {
    margin: 5px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.photo {
    width: 190px;
    float: left;
    margin: 5px;
}

.paragraph {
    width: 1040px;
    margin: 5px;
}

.box {
    border: 1px solid black;
    width: 1060ox;
    height: auto;
    margin: 5px;
    padding: 20px;
}

footer {
    float: left;
    margin: 10;
    text-align: left;
}