body {
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    margin: 0;
}

h1{
    z-index: 2;
    color: white;
    position: absolute;
    overflow: auto;
}

.banner {
    z-index: -1;
}

.wrapper {
    width: 1080px;
    margin: 100px auto 0 auto;    
}

nav ul {
    padding-left: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
}

nav li a {
    padding: 10px;
    color: white;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.photo {
    width: 180px;
    float: left;
    margin: 10;
}