* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.wrapper {
    width: 600px;
    margin: auto;
    align-content: center;
    height: fit-content;
}

.wrapper2 {
    width: 600px;
    margin: auto;
    height: auto;
}

.wrapper-bleed {
    width: 100%;
    margin: auto;
    height: fit-content;
}

header {
    margin: auto;
    width: 600px;
    background-color: #222;
    align-content: center;
}

.logo {
    width: 95%;
    background-color: #c78c06;
    margin: auto;
}

nav {
    width: 95%;
    height: auto;
    text-align: center;
    margin: auto;
}

nav li {
    padding: 10px;
    width: 100%;
    margin: 0;
}

a {
    margin: auto;
    width: 100%;
}

nav li a {
    color: #c78c06;
    width: 100%;
    font-weight: 600;
}

nav li:hover {
    background-color: #c78c06;
}

nav li a:hover {
    color: #222;
}

a:link,
a:visited {
    text-decoration: none;
}

.searchbar {
    width: 600px;
    margin: auto;
    align-items: center;
}

button {
    border: #c78c06 solid 1px;
    background-color: #222;
    width: 30px;
    height: 30px;
}

button i {
    color: #c78c06;
    margin-left: 0;
}

#bar {
    width: 100%;
    align-self: center;
    margin: auto;
}

.searchbar input {
    width: 90%;
    height: 30px;
    margin-left: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0;
    padding-right: 0;
    border: #323232 solid 1px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

main {
    margin: auto;
    height: fit-content;
}

.banner {
    width: 100%;
    margin: auto;
    background-image: url("../images/main-banner.jpg");
    background-position: center;
    background-size: cover;
    height: 450px;
    background-repeat: no-repeat;
    z-index: -1;
}

.bannerbg {
    background-color: #2229;
    height: 325px;
    align-content: space-around;
    margin-top: 3rem;
    margin-bottom: 2rem;
    z-index: 1;
    float: left;
    padding: 1rem;
}

h1 {
    color: white;
    font-weight: 700;
    font-size: 4rem;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.bannerbg p {
    color: white;
}

.button1 {
    background-color: #c78c06;
    color: #222;
    padding: 1rem;
}

.button1 i {
    padding-left: 1rem;
}

.about {
    background-color: #ffe6ac;
    margin: auto;
    box-sizing: border-box;
    padding: 0 1rem;
    height: auto;
}

.about img {
    width: 100%;
    margin-top: 1rem;
    height: auto;
}

.about h2 {
    padding: 0.5rem;
}

.about p {
    padding: 0.5rem;
}

.services {
    width: 100%;
    margin: auto;
}

.digitalbox .marketingbox .videobox .webbox .printbox {
    width: 600px;
    margin: auto;
    align-content: center;
    height: fit-content;
}

.servicestittle {
    margin-bottom: 0.5rem;
}

.services img {
    width: 100%;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.digital {
    background-color: #ffe6ac;
    margin: 0;
    margin-bottom: 1rem;
    height: 220px;
}

.digital h3 {
    padding-left: 1rem;

}

p .button2 {
    background-color: #222;
    color: #ffffff;
    padding: 1rem;
    height: 50px;
}

.button2 i {
    padding-left: 10px;
}

.marketing {
    background-color: #ffe6ac;
    margin: 0;
    height: 220px;
    margin-bottom: 1rem;
}

.marketing h3 {
    padding-left: 1rem;
}

.video {
    background-color: #ffe6ac;
    margin: 0;
    height: 220px;
    margin-bottom: 1rem;
}

.video h3,
p {
    padding-left: 1rem;
}

.web {
    background-color: #ffe6ac;
    margin: 0;
    height: 220px;
    margin-bottom: 1rem;
}

.web h3 {
    padding-left: 1rem;
}

.print {
    background-color: #ffe6ac;
    margin: 0;
    height: 220px;
}

.print h3 {
    padding-left: 1rem;
}

.vision {
    margin: 1rem auto;
    background-image: url("../images/vision.jpg");
    background-size: cover;
    width: 100%;
    color: #ffffff;
    padding: 2rem;
}

.vision-wrapper {
    width: 600px;
    margin: auto;
}

.vision h2 {
    padding-left: 0;
}

.vision p {
    padding-left: 0;
}

.button3 {
    background-color: #2229;
    border: #c78c06 solid 1px;
    padding: 1.5rem;
    color: #ffffff;
}

.button3 i {
    padding-left: 0.5rem;
}

.team {
    height: fit-content;
    padding-bottom: 1rem;
}

.team h2 {
    padding: 1rem;
}

.memberbox1 {
    background-color: #ffe6ac;
    height: fit-content;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.memberbox2 {
    background-color: #ffe6ac;
    height: fit-content;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

hr {
    height: 2px;
    background-color: #c78c06;
    border: none;
    width: 95%;
    margin-bottom: 1rem;
}

.member1 h3 {
    padding-left: 1rem;
}

.member2 h3 {
    padding-left: 1rem;
}

.contact {
    height: fit-content;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.contacttittle {
    margin-bottom: 1rem;
    margin-left: 0;
}

.messageform h3 {
    padding-bottom: 1rem;
}

.contactform {
    width: 100%;
    height: fit-content;
}

.form input {
    width: 100%;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    margin-right: 0;
    padding-right: 0;
    border: #323232 solid 1px;
}

.name input {
    height: 30px;
}

.email input {
    height: 30px;
}

.message input {
    height: 120px;
}

.form button {
    width: 60px;
    height: 30px;
    margin: auto;
    border: #c78c06 solid 1px;
}

.chart {
    width: 100%;
    height: fit-content;
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.chart h3 {
    padding-left: 0;
    margin-bottom: 1rem;
}

table {
    width: 100%;
    border: #222 solid 1px;
    border-collapse: collapse;
}

td,
th {
    border: #222 solid 1px;
    padding: 1rem 0 1rem 1rem;
}

thead {
    background-color: #ffe6ac;
}

.send button {
    color: #c78c06;
    font-weight: 700;
    font-size: 1rem;
}

.map {
    width: 100%;
}

.map h3 {
    margin-bottom: 1rem;
}

.map iframe {
    width: 100%;
}

footer {
    align-content: flex-end;
    background-color: #222;
    color: #c78c06;
    width: 100%;
    padding: 1rem 4rem;
    margin: auto;
}

@media screen and (min-width: 760px) {

    html {
        font-size: 18px;
    }

    header {
        width: 100%;
        max-width: 1200px;
        padding: 2rem;
    }

    .topnav {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
    }

    .logo {
        width:fit-content;
        margin: 0;
        padding: 0;
        background-color: #222;
        align-content: center;
    }

    nav {
        height: auto;
        text-align: center;
        margin: 2rem 1rem;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
    }

    nav li {
        font-size: 0.75rem;
    }

    .searchbar {
        width: 50px;
        margin: 0;
    }

    #bar {
        width: 80%;
        margin: 0;
    }

    .wrapper {
        width: 90%;
        margin: auto;
        height: auto;
        max-width: 1200px;
    }

    .wrapper2 {
        width: 100%;
        margin: auto;
        height: auto;
        max-width: 1200px;
    }

    .wrapper-bleed {
        width: 100%;
        margin: auto;
        height: auto;
        max-width: 1200px;
    }

    p {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .banner {
        max-width: 1200px;
        margin: auto;
    }

    .bannerbg {
        background-color: #2229;
        width: 90%;
        margin-left: 2rem;
    }

    .about {
        padding-left: 2rem;
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 1rem;
    }

    .about img {
        object-fit: cover;
        margin-right: 0.5rem;
    }

    .abouttext {
        height: fit-content;
    }

    .services {
        padding-left: 2rem;
        height: fit-content;
        display: grid;
        grid-gap: 0.5rem;
        justify-content: space-around;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "box1 box1 box1 box1 box1 box1"
            "box2 box2 box2 box2 box2 box2"
    }

    .servicestittle {
        margin-left: 1rem;
    }

    .serviceswrapper {
        height: fit-content;
    }

    .digitalbox .marketingbox {
        grid-area: box1;
    }

    .videobox .webbox .printbox {
        grid-area: box2;
    }

    .vision {
        width: 100%;

    }

    .vision-wrapper {
        width: 80%;
        margin: auto;
    }

    .team {
        height: fit-content;
    }


    .memberbox1 {
        height: fit-content;
        display: flex;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .memberbox1 img {
        width: 50%;
    }

    .member1 {
        width: 50%;
        height: auto;
        margin-bottom: 0;
    }

    .memberbox2 {
        height: fit-content;
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 0;
    }

    .memberbox2 img {
        width: 50%;
        height: fit-content;
    }

    .member2 {
        width: 50%;
        height: fit-content;
    }


    .contact {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 2fr 1fr;
        grid-gap: 0.5rem;
        grid-template-areas:
            "tittle tittle"
            "messageform map"
            "chart chart"
    }

    .contact .contacttittle {
        margin-left: 1rem;
        position: absolute;
        margin-bottom: 1rem;
        grid-area: tittle;
    }

    .contact .messageform {
        grid-area: messageform;
    }

    .contact .chart {
        grid-area: chart;
    }

    .contact .map {
        grid-area: map;
    }


}